/* Colors for all the pages:
Header & Footer background: #ccccff
Main article background: #e1e1ea*/

/*General styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */

body {
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #e1e1ea;
}

/*Background image styles*/

/*
img.back {
  width: 100vmax;
  min-width: 100vmin;
  opacity: 0.1;
  position: absolute;
}
*/

/* TOP HEADER (NAV + H1) */

/* Parent element */

div.nav {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}

/* Children element #1 */

nav {
  /*
  align-self: flex-end;
  flex-wrap: wrap;

  padding: 1rem;
*/
  align-self: center;
  margin-left: auto;
  margin-right: 2rem;

  padding: 0.5rem;
  box-shadow: 0.15rem 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.2);
}

/* Parent element */

nav a {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;

  justify-content: flex-end;
}

/* Children elements of ul */

a {
  color: black;
  text-decoration: none;
}










/*
article.content-wrapper {
  display: inline-block;
  position: absolute;
  width: 100vmax;
  min-width: 100vmin;
}
*/

/*Header1, with use of GoogleFont*/

/*
h1 {
  clear: both;
  float: left;
  margin: 1.8em 2em 0.5em 2em;
  font-size: 2.4rem;
  font-family: 'Heebo', sans-serif;
}
*/

/*Main nav styles*/

/*

nav.main-nav {
  float: right;
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: 4em 2em 1em 2em;
}
*/

/*All navigation styles*/

/*
a.nav:link {
  color: blue;
  font-size: 16px;
  padding: 0.75em;
  text-decoration: none;
  font-weight: bold;
}

a.nav:visited {
  color: black;
}

a.nav:hover {
  color: darkblue;
}
*/

/* Float the elements, center link content, width on links, set font color */

/*

.main-nav a {
  float: left;
  width: 13%;
  padding: 0.5rem;
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}
*/

/* Extra padding on first nav link */

/*

.main-nav a:first-of-type {
  padding-left: 6%;
}

article.main {
  position: relative;
  padding: 0em 0em 0em 10em;
}
*/

/*Header 2 styles*/

/*

h2 {
  clear: both;
  float: left;
  margin: 1em;
  font-size: 24px;
  font-family: 'Amita', cursive;
}
*/

/*p.projects styles*/

/*
.about,
.projects,
.index {
  clear: both;
  float: left;
  line-height: 1.5em;
  padding: 0em 10em 1em 1em;
  text-indent: 2em;
  text-align: justify;
}
*/

/*  Grid of 6 system */

/*

.span_6_of_6 {
  width: 97%;
}

.span_5_of_6 {
  width: 81.16%;
}

.span_4_of_6 {
  width: 64.33%;
}

.span_3_of_6 {
  width: 47.5%;
}

.span_2_of_6 {
  width: 30.66%;
}

.span_1_of_6 {
  width: 13.83%;
}
*/

/* Float all of the grid divs */

/*

section[class^='span_'] {
  float: left;
  margin: 1%;
}
*/

/*Adjust all images to fit 70% of their grid and to the same height*/

/*
.one,
.two,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven {
  height: 10em;
  width: 45%;
}
*/

/*about.html ordered and unordered list styles*/

/*

ul {
  list-style: none;
  clear: both;
  float: left;
  padding: 0em 10em 1em 1em;
}

li.u::before {
  content: "•";
  color: black;
  padding: 0em 1.4em 0em 0em;
  text-align: right;
  direction: rtl;
}

ol {
  list-style: none;
  counter-reset: li;
  clear: both;
  float: left;
}

li.o::before {
  content: counter(li);
  color: black;
  display: inline-block;
  width: 1em;
  margin-left: 1em;
  text-align: right;
  direction: rtl;
  padding: 0.5rem;
  text-indent: 2rem;
}

li {
  counter-increment: li;
}

li.oabout::before {
  content: counter(li);
  color: black;
  display: inline-block;
  width: 1em;
  margin-left: 1em;
  text-align: right;
  direction: rtl;
}
*/

/*contact section styles*/

/*

input {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
}

textarea {
  border-radius: 0.5em;
}

section.contact {
  clear: both;
  float: left;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20em;
  text-align: center;
  border-radius: 1em;
  padding: 4em;
  overflow: hidden;
  box-shadow: 0em 2em 2em rgba(0, 0, 0, 0.3);
  margin: 2em 30em 4em 32em;
}

p.contact {
  line-height: 1em;
  text-align: justify;
  text-indent: 2em;
}
*/

/* Footer section styles (using flexbox) */

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  padding: 1rem;
  margin: auto;
}

article.footer {
  flex-grow: 1;

  font-size: 10px;
  font-family: 'Heebo', sans-serif;
  text-align: center;

  padding: 1rem;
}

section.end {
  flex-grow: 1;

  align-self: center;
}
