/* Colors for all the pages:
Header & Footer background: #c2cdf0
Main background: white*/

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* BODY */

body {
  font-family: 'Open-Sans', sans-serif, 'Arial', sans-serif;
  background-color: #D8D8D8;
}

.background {
  background-image: url("../Images/IMG_4098.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

/* HEADER */

/* Parent element */

/*
div.nav {
  background-color: #c2cdf0;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;

  opacity: 0.96;
}
*/

.homeheader {
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;

  content: "";
  position: relative;
  height: 16rem;
  background-image: linear-gradient(#ECDB54, #f8d965, #fae596);
}


/* Children element */

nav {
  width: 100%;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  /*
  margin-left: 2rem;
  margin-right: 2rem;
*/
}

@media screen and (max-width: 540px) {
  nav {
    padding: 1rem 1rem;
    /*

    margin-left: 1rem;
    margin-right: 1rem;
*/
  }
}

/* Parent element */

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/* Children elements of ul */

li {
  padding: 0.5rem;
}

.u {
  padding: 0.5rem;
  margin-left: 3rem;
  list-style: circle;
}

a {
  color: black;
  font-weight: bolder;
  text-decoration: none;
}

a:visited {
  color: darkblue;
}

a:hover {
  color: black;
}

/* Different font color for the navigation, since background color is darker */

nav a {
  color: white;
}

nav a:visited {
  color: black;
}

.header_polygon {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

@media(min-width: 700px) {
  .svg--sm {
    display: none;
  }
}

@media(max-width: 699px) {
  .svg--lg {
    display: none;
  }
}

@media(max-width: 228px) {
  .svg--sm {
    display: none;
  }
}


/*MAIN PAGES HEADER*/

.title {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.habout {
  width: 34%;
  padding: 1rem 0rem 0rem 4rem;
  font-size: 60px;
  margin: 1rem 0rem;
  font-family: 'Montez', cursive;
  font-weight: 900;
}

.title a {
  padding-left: 1rem;
}

.linkhome {
  width: 90%;
  padding-top: 3rem;
}


@media screen and (max-width: 1300px) {
  .habout {
    width: 40%;
  }
}

@media screen and (max-width: 1152px) {
  .habout {
    width: 44%;
  }
}

@media screen and (max-width: 1080px) {
  .habout {
    width: 48%;
  }
}

@media screen and (max-width: 1020px) {
  .habout {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .habout {
    width: 54%;
  }
}


/* Link in text is underlined */

.underline {
  text-decoration: underline;
}











/* MAIN */

/* Parent element */

.container {
  /*  background-image: linear-gradient(135deg, #777, #111);*/
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;

  width: 100%;
  padding: 2rem 4.5rem 2rem 4.5rem;
}

/* Resize container */

@media screen and (max-width: 768px) {
  .container {
    padding: 2rem;
  }
}

@media screen and (max-width: 620px) {
  .container {
    padding: 1rem;
  }
}

/* Children elements */

h1 {
  font-size: 30px;
  margin: 0rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}

.main {
  width: 100%;
  align-self: center;
  flex-wrap: wrap;
  padding: 0rem 1rem 1rem 1rem;
}

h2 {
  padding: 1rem 0rem 1rem 0rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 900;
}


/* HOME PAGE */

/* Children elements */

.home {
  font-size: 38px;
  font-family: 'Roboto', sans-serif;
  align-self: flex-start;
  padding: 4rem 0rem;

  position: relative;


  color: white;
  /*  color: black;*/
}

.phome {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem;

  align-self: center;


  color: white;
  /*  color: black;*/
}

.emphasis {
  font-size: 60px;
  font-family: 'Montez', cursive;
}

.phomearrow {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  padding: 5rem;

  align-self: flex-end;
  color: white;
  /*  color: black;*/
}


/* ABOUT PAGE */

/* Children elements */

.pabout {
  line-height: 1.5em;
  text-indent: 2rem;

  text-align: justify;
}

/* List styles */

.olabout {
  list-style: inside;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ol {
  list-style: inside;
}

.liabout {
  padding: 0rem;
}

.liabouttwo {
  padding-left: 1rem;
}

@media screen and (max-width: 468px) {
  .liabouttwo {
    padding: 0rem;
  }
}


/* PROJECTS PAGE */

/* Parent element */

.items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

/* Children elements */

.imgcontainer {
  padding: 1rem;
  position: relative;
  width: 20rem;
  height: auto;
}

@media screen and (max-width: 815px) {
  .imgcontainer {
    align-self: center;
    margin-left: auto;
    margin-right: auto;

    width: auto;
    height: auto;
  }
}

.imgcontainer h3 {
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  padding: 0.5rem;
}

.image {
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
}

@media screen and (max-width: 815px) {
  .image {
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
  }
}

@media screen and (max-width: 580px) {
  .image {
    margin-left: auto;
    margin-right: auto;
    width: 26rem;
  }
}

@media screen and (max-width: 546px) {
  .image {
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
  }
}

@media screen and (max-width: 414px) {
  .image {
    margin-left: auto;
    margin-right: auto;
    width: 16rem;
  }
}

.over {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;

  opacity: 0;
  transition: 0.5s ease;
  background-color: #b3c6ff;
}

.imgcontainer:hover .over {
  opacity: 0.96;
}

.textover {
  color: white;
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


/* FOOTER */

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  padding: 1rem;
  margin: auto;
}

.footer {
  flex-grow: 1;

  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 1rem;

  padding: 1rem;
}

.end {
  flex-grow: 1;
  align-self: center;
}

.end a {
  padding: 0.5rem;
}

/* Home page footer styles: color: white for icons */

.footerhome {
  flex-grow: 1;

  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 1rem;

  padding: 1rem;

  color: white;
}

.fa-arrow-circle-right {
  color: white;
}

.endhome {
  flex-grow: 1;
  align-self: center;
}

.endhome a {
  padding: 0.5rem;
}

.endhome .fa-github-square {
  color: white;
}

.endhome .fa-linkedin {
  color: white;
}
