/* Colors for all the pages:
Header & Footer background: #ccccff
Main article background: #e1e1ea*/

/*General styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */

body {
  font-family: 'Heebo', sans-serif;
  background-color: white;
}

/* Header styles (nav) */

/* Parent element */

div.nav {
  background-color: #ffa366;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}

/* Children element */

nav {
  width: 100%;
  flex-wrap: wrap;
  padding: 1rem 2rem;

  margin-left: 2rem;
  margin-right: 2rem;
}

/* Parent element */

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Children elements of ul */

li {
  padding: 0.5rem;
}

a {
  color: black;
/*  font-weight: 600;*/

  text-decoration: none;
}

a:visited {
  /*  color: darkblue;*/
  color: black;
}

a:hover {
  color: white;
}

/* Main styles */

/* Parent element */

.container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;

  width: 100%;
  padding: 2rem 4.5rem 2rem 4.5rem;
}

/* HOME PAGE */

/* Children elements */

.home {
  font-size: 38px;
  font-family: 'Roboto',
  sans-serif;
  /*  font-family: 'Heebo', sans-serif;*/
  align-self: flex-start;
  padding: 4rem 0rem;

  position: relative;
}

.phome {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  /*  font-family: 'Heebo', sans-serif;*/
  padding: 0.5rem;

  align-self: center;
}

.emphasis {
  font-size: 60px;
  font-family: 'Montez', cursive;
}

.phomearrow {
  font-size: 24px;
  /*  font-family: 'Heebo', sans-serif;*/
  padding: 5rem;

  align-self: flex-end;
}

/* ABOUT PAGE */

/* Children elements */

h1 {
  font-size: 30px;
  font-family: 'Heebo',
  sans-serif;

  margin: 1rem 0rem;
}

.main {
  align-self: center;
  flex-wrap: wrap;
  padding: 0rem 1rem 1rem 1rem;
}

h2 {
  padding: 1rem 0rem 1rem 0rem;

  font-size: 24px;
  font-family: 'Heebo', sans-serif;
}

.pabout {
  line-height: 1.5em;
  text-indent: 2rem;

  text-align: justify;
}

ol {
  list-style: inside;
}

ol li {
  padding: 0.5rem;
}

/* PROJECTS PAGE */

.imgcontainer {
  position: relative;
  width: 32%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.over {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;

  opacity: 0;
  transition: 0.5s ease;
  background-color: #9999ff;
}

.imgcontainer:hover .over {
  opacity: 0.96;
}

.textover {
  color: white;
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*  Grid of 6 system */

/*

.span_6_of_6 {
  width: 97%;
}

.span_5_of_6 {
  width: 81.16%;
}

.span_4_of_6 {
  width: 64.33%;
}

.span_3_of_6 {
  width: 47.5%;
}

.span_2_of_6 {
  width: 30.66%;
}

.span_1_of_6 {
  width: 13.83%;
}
*/

/* Float all of the grid divs */

/*

section[class^='span_'] {
  float: left;
  margin: 1%;
}
*/

/*Adjust all images to fit 70% of their grid and to the same height*/

/*
.one,
.two,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven {
  height: 10em;
  width: 45%;
}
*/

/*about.html ordered and unordered list styles*/

/*

ul {
  list-style: none;
  clear: both;
  float: left;
  padding: 0em 10em 1em 1em;
}

li.u::before {
  content: "•";
  color: black;
  padding: 0em 1.4em 0em 0em;
  text-align: right;
  direction: rtl;
}

ol {
  list-style: none;
  counter-reset: li;
  clear: both;
  float: left;
}

li.o::before {
  content: counter(li);
  color: black;
  display: inline-block;
  width: 1em;
  margin-left: 1em;
  text-align: right;
  direction: rtl;
  padding: 0.5rem;
  text-indent: 2rem;
}

li {
  counter-increment: li;
}

li.oabout::before {
  content: counter(li);
  color: black;
  display: inline-block;
  width: 1em;
  margin-left: 1em;
  text-align: right;
  direction: rtl;
}
*/

/*contact section styles*/

/*

input {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
}

textarea {
  border-radius: 0.5em;
}

section.contact {
  clear: both;
  float: left;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20em;
  text-align: center;
  border-radius: 1em;
  padding: 4em;
  overflow: hidden;
  box-shadow: 0em 2em 2em rgba(0, 0, 0, 0.3);
  margin: 2em 30em 4em 32em;
}

p.contact {
  line-height: 1em;
  text-align: justify;
  text-indent: 2em;
}
*/

/* Footer section styles (using flexbox) */

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  padding: 1rem;
  margin: auto;
}

article.footer {
  flex-grow: 1;

  font-size: 10px;
  font-family: 'Heebo', sans-serif;
  text-align: center;

  padding: 1rem;
}

section.end {
  flex-grow: 1;

  align-self: center;
}




/*Background image styles*/

/*
img.back {
  width: 100vmax;
  min-width: 100vmin;
  opacity: 0.1;
  position: absolute;
}
*/
